#browse {
	min-height:100%;
    width:100%;
    background-color:#FEF9E7;
}

.filler {
    width:100%;
    height:80px;
}

.browse-section {
    width:90%;
    min-height:300px;
    margin:2.5% 5%;
    background:#F9E79F;
}

.browse-header {
	width:100%;
    height:60px;
}

.browse-header h3 {
	display:inline-block;
	font-family:page_font;
	line-height:20px;
    height:100%;
    padding:20px;
    color:#515A5A;
    font-weight:300;
}

.browse-header h3:hover {
    font-size:20px;
}

.browse-header a {
	background:none;
	border:none;
	padding:0;
	float:right;
    height:100%;
    line-height:20px;
    padding:20px;
    text-decoration:none;
}

.browse-header a:hover {
    text-decoration:underline;
}

.browse-section ul {
    width:100%;
    height:320px;
}

.browse-section li {
	list-style:none;
    width:23%;
	height:95%;
    float:left;
    margin:0 1%;
    border-radius:4px;
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    background:#FCF3CF;
    transition: all .2s ease-in-out;
}

.section-element {
    width:100%;
    height:100%;
}

.browse-section li:hover { 
    transform: scale(1.1); 
}

.section-element img {
    width:90%;
    margin:2.5% 5%;
    height:200px;
}

.section-element img:hover {
    opacity:0.6;
}

.section-element-description {
    width:100%;
    height:80px;
}

.section-element-description span {
    display:inline-block;
    width:90%;
    height:20px;
    margin:2.5px 5%;
    color:#515A5A;
}

.section-element-description span:hover {
    text-decoration:underline;
}

.section-element-description span a {
    text-decoration:none;
    color:inherit;
}

@media screen and (max-width:1100px) {

    .browse-section li:nth-child(4) {
        display:none;
    }

    .browse-section li {
        width:31.3%;
    }
}

@media screen and (max-width:800px) {

    .browse-section li:nth-child(3) {
        display:none;
    }

    .browse-section li {
        width:48%;
    }
}

@media screen and (max-width:500px) {

    .browse-section li:nth-child(2) {
        display:none;
    }

    .browse-section li {
        width:90%;
        margin:0 2.5%;
    } 
}