#flight-search {
    width:40%;
    height:100%;
    float:left;
}

.flight-destination {
    height:100%;
    width:50%;
    float:left;
	border-right:1px solid grey;
}

.flight-destination input{
    width:calc(100% - 48px);
    float:left;
    line-height:25px;
    margin-top:12px;
}


.calendar-container {
    width:20%;
    height:100%;
    float:left;
    border-right:1px solid grey;
}

.date {
    width:50%;
    height:100%;
    float:left;
}

.date::-webkit-clear-button {
    display: none;
}

/*.submit-search {
    height:100%;
    width:calc(40% - 225px);
    float:left;
    background-color:#EC7065;
    text-align:center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.submit-search-input {
    border:0;
    background:inherit;
    color:white;
    line-height:30px;
    margin-top:10px;
    font-size:1em;
    font-family: "Lato", "Helvetica", Helvetica, sans-serif;
}*/
