#flight-search {
    width:40%;
    height:100%;
    float:left;
}

.flight-destination {
    height:100%;
    width:50%;
    float:left;
	border-right:1px solid grey;
}

.flight-destination input{
    width:calc(100% - 48px);
    float:left;
    line-height:25px;
    margin-top:12px;
}


.calendar-container {
    width:20%;
    height:100%;
    float:left;
    border-right:1px solid grey;
}

.date {
    width:50%;
    height:100%;
    float:left;
}

.date::-webkit-clear-button {
    display: none;
}

#other_container {
  height: 48px;
  float: left;
  width: 225px;
  position: relative;
}

.human_icon {
  background: url("/search_icons.png") no-repeat -5px 0;
  width: 30px;
  height: 40px;
  float: left;
  margin: 5px 5px 0 10px;
}

#other_content {
  height: 48px;
  vertical-align: middle;
  text-align: center;
}

#other_content span {
  display: inline-block;
  line-height: 20px;
  max-height: 20px;
  margin-top: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.arrow_icon {
  background: url("/search_icons.png") no-repeat -137px -5px;
  width: 16px;
  height: 10px;
  float: right;
  margin: 17px 10px 0 5px;
}

/**********************/

#other-dropdown {
  position: absolute;
  background-color: #f9f9f9;
  margin-left: -20%;
  margin-top: 7px;
  width: 140%;
  z-index: 1;
  border: 1px solid blue;
}

.submit-search {
    height:100%;
    width:calc(40% - 225px);
    float:left;
    background-color:#EC7065;
    text-align:center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.submit-search-input {
    border:0;
    background:inherit;
    color:white;
    line-height:30px;
    margin-top:10px;
    font-size:1em;
    font-family: "Lato", "Helvetica", Helvetica, sans-serif;
}
