.restaurant-background {
    background: url("/beach-house.jpg") no-repeat;
}

#restaurant-name {
  width:40%;
  height:50px;
  color:#515A5A;
  font-weight:600;
  font-size:30px;
  line-height:30px;
  padding-top:8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius:25px;
}

#restaurant-name:hover {
  border:1px solid rgb(236, 226, 226);
}

#inner-nav-menu {
  width:100%;
  height:120px;
}

#inner-nav-menu ul {
  width:100%;
  height:100%;
  text-align:center;  
  padding-top:30px;
}

#inner-nav-menu ul a {
  text-decoration:none;
}

#inner-nav-menu ul li {
  display: inline-block;
  height:60px;
  padding-left:2%;
  padding-right:2%;
  color: #515A5A;
  font-size:25px;
  padding-top:15px;
  margin-left:2%;
  margin-right:2%;
}

#inner-nav-menu ul li:hover {
  background-color:rgb(228, 230, 231);
}

/************ OVERVIEW ************/
#overview {
  background:rgb(245, 245, 255);
  width:100%;
  padding:1% 5% 1% 5%;
  height:500px;
  border-top:0.5px solid rgb(183, 214, 230);
  border-bottom:0.5px solid rgb(183, 214, 230);
}

#overall-overview {
  width:50%;
  height:100%;
  float:left;
}

.review-container {
  border:0.5px thin rgb(183, 214, 230);
  width:98%;
  margin-left:1%;
  margin-top:1%;
  height:48%;
  border-radius:5px;
  box-shadow: 1px 1px 1px 1px rgba(46,61,73,.2);
}

.review-container h3, #overview-comments h3 {
  width:100%;
  height:40px;
  text-align:center;
  font-size:20px;
  line-height:20px;
  padding-top:7.5px;
  padding-bottom:7.5px;
  font-weight:300;
  color:#515A5A;
} 

.progress-bar {
  height:30px;
  margin-top:5px;
}

.progress-bar span {
  display: inline-block;
  width:100px;
  text-align:center;
  font-size:15px;
  margin-left:2%;
  color:#515A5A;
}

.progress-bar progress {
  margin-top:5px;
  margin-left:2%;
  width:calc(90% - 200px);
  background-color:#F8C471;
  padding:3px;
  border-radius:25px;
}

progress::-webkit-progress-bar {
  background-color:#F8C471; 
}

progress::-webkit-progress-bar:hover {
  background-color:rgb(252, 210, 143); 
}

progress::-webkit-progress-value {
  background-color:#CA6F1E;
  border-radius:25px;
}

#rating-bars {
  padding-top:10px;
}

#rating-bars .progress-bar {
  padding-top:10px;
}

#overview-comments {
  border:0.5px thin rgb(183, 214, 230);
  width:48%;
  height:97.4%;
  margin-left:1%;
  margin-top:0.5%;
  border-radius:5px;
  box-shadow: 1px 1px 1px 1px rgba(46,61,73,.2);
  float:left;
}

#comments-container {
  width:96%;
  height:calc(96% - 40px);
  margin-left:2%;
  margin-top:2%;
  overflow-y:scroll;
}

#comments-container::-webkit-scrollbar {
  width:8px;
}

#comments-container::-webkit-scrollbar-thumb {
  background-color:#d2dad9;
}

#comments-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.comment-section {
  width:100%;
  min-height:150px;
}

.comment-author {
  width:150px;
  height:100%;
  text-align:center;
  padding:15px;
  float:left;
}

.comment-author img {
  width:50px;
  height:50px;
  border-radius:50%;
  margin-bottom:10px;
}

.comment-author span {
  display: block;
  font-size:12px;
  padding:2%;
  font-weight:600;
  color:rgb(69, 71, 73);
}

.comment-author span:first-of-type {
  font-size:14px;
  font-weight:300;
  color:#515A5A;
}

.comment-content {
  float:left;
  width:calc(100% - 150px);
  height:100%;
  padding:15px;
}

.comment-content h4 {
  font-family: Arial;
  font-size: 20px;
  color: #000a12;
  font-style: normal;
  font-weight:300;
  padding:5px;
}

.comment-content p {
  padding:5px;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 20px;
  color: #4a4a4a;
}

.comment-content span {
  display:block;
  float:left;
  width:50%;
  height:20px;
  text-align:center;
  margin-top:5px;
  color:#4a4a4a;
}

/********************************************/

#reviews {
  width:100%;
  height:300px;
  padding:5%;
  /* border:1px solid blue; */
}

/******** DETAILS ********/

#details {
  width:100%;
  min-height:600px;
  padding:2.5% 2.5% 2.5% 2.5%;
  border-top:0.5px solid rgb(183, 214, 230);
}

#details h2 {
  height:60px;
  font-size:25px;
  line-height:25px;
  padding:20px;
  text-align:center;
  font-weight:300;
  color:#515A5A;
}

#details-info {
  width:30%;
  height:300px;
  float:left;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.details-info-span {
  border:1px solid red;
  display:block;
  width:100%;
  height:50px;
}

#details h3 {
  height:36px;
  font-size:18px;
  padding:6px 0 6px 0;
  margin-top:10px;
  margin-bottom:10px;
  width:100%;
  font-weight:300;
  color:#515A5A;
}

#details-info h3 {
  padding-left:3%;
  padding-right:3%;
}

#details-info div {
  width:100%;
  height:25px;
  font-size:15px;
  color:#515A5A;
}

#details-info div:nth-of-type(5) {
  margin-top:40px;
}

#details-info div span {
  display:block;
  float:left;
  height:100%;
  padding:3px;
  margin-left:2%;
  margin-right:2%;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
}

#details-open-hours {
  width:30%;
  height:300px;
  float:left;
  margin-left:5%;
  margin-right:5%;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

#details-open-hours h3 {
  padding-left:10%;
  padding-right:10%;
}

#details-open-hours div {
  width:100%;
  height:25px;
  font-size:15px;
  color:#515A5A;
}

#details-open-hours div span {
  display:block;
  float:left;
  min-width:40%;
  height:100%;
  padding-left:10%;
  padding-right:10%;
  
}

#details-features {
  width:30%;
  height:300px;
  float:left;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

#details-features h3 {
  text-align:center;
}

#details-features span {
  display:block;
  float:left;
  width:100%;
  height:25px;
  font-size:15px;
  text-align:center;
  color:#515A5A;
}

#details-description {
  width:90%;
  margin-left:5%;
  margin-right:5%;
  min-height:80px;
  float:left;
  margin-top:30px;
  margin-bottom:30px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

#details-description h3 {
  height:30px;
  text-align:center;
}

#details-description p {
  padding-left:2%;
  padding-right:2%;
  padding-bottom:1%;
  font-size:17px;
  height:20px;
  width:100%;
  color:#515A5A;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
}

/*************** NEARBY ***************/
#nearby {
  width:100%;
  min-width:450px;
}

.nearby {
  width:100%;
  min-height:450px;
  background:rgb(245, 245, 255);
  border-top:0.5px solid rgb(183, 214, 230);
}

.nearby:last-of-type {
  border-bottom:0.5px solid rgb(183, 214, 230);
}

.nearby h3 {
  width:100%;
  height:60px;
  text-align:center;
  font-size:20px;
  line-height:20px;
  padding-top:20px;
  padding-bottom:20px;
  font-weight:300;
  color:#515A5A;
} 

.nearby ul {
  width:90%;
  min-height:calc(90% - 40px);
  margin-left:5%;
}

.nearby ul li {
  width:35%;
  height:140px;
  padding:15px;
  margin:20px 0 20px 10%;
  display:block;
  float:left;   
  border:0.5px thin rgb(183, 214, 230);
  border-radius:5px;
  box-shadow: 1px 1px 1px 1px rgba(46,61,73,.2);
}

.nearby ul li img {
  width:100px;
  height:100px;
  display:block;
  float:left;
}

.nearby ul li div {
  float:left;
  text-align:center;
  width:calc(100% - 100px);
  padding:10px;
}

.nearby ul li div span {
  display:block;
  float:left;
  width:100%;
  height:33px;
  padding:5px;
  color: #515A5A;
  font-size:15px;
}

.nearby ul li div span:first-of-type {
  font-size:20px;
  line-height: 20px;
  font-weight: 300;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
}


/***************************************/
#qna {
  width:100%;
  min-height:300px;
  padding:5% 2.5%;
  border-bottom:0.5px solid rgb(183, 214, 230);
}

#qna-header {
  width:70%;
  min-height:50px;
}

#qna-header h3 {
  width:calc(100% - 150px);
  font-size:25px;
  line-height:20px;
  height:50px;
  padding:15px 5%;
  float:left;
  font-weight:300;
  color:#515A5A;
}

#qna-header button {
  border:none;
  width:150px;
  height:50px;
  float:left;
  font-size:17px;
  padding-left:1%;
  padding-right:1%;
  background:#EC7065;
  font-weight:600;
  color:white;
  border-radius:2px;
  cursor: pointer;
}

#qna-header button:focus {
  outline:none;
  border:none;
}

#qna-header button:active {
  outline:none;
  border:none;
}

#qna-questions {
  min-height:300px;
  width:70%;
  overflow-y: scroll;
  margin-top:30px;
  margin-bottom:30px;
}

#qna-questions textarea {
  width: calc(100% - 250px);
  margin: 0 50px;
  height: 50px;
  padding: 15px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.1);
  resize:none;
  float:left;
}

#qna-questions textarea:focus {
  outline:none;
}

#qna-questions button {
  height:50px;
  width:120px;
  padding:0 5px;
  border:0;
  background-color:#EC7065;
  color: #fff;
  text-align:center;
  font-size: 17px;
  font-weight: 600;
  border-radius: 2px;
  cursor: pointer;
}

#qna-questions button:focus {
  outline:none;
}

#qna-questions button:active {
  outline:none;
  background-color:rgb(138, 18, 7);
}

#qna .comment-content {
  min-height:60px;
}

#qna .answer-content {
  min-height:60px;
  width:calc(100% - 150px);
  float:left;
}

#qna .answer-content span,#qna .answer-content p {
  padding-left:15px;
  padding-right:15px;
  padding-top:5px;
  padding-bottom:5px;
  display:block;
  height:25px;
  font-size:15px;
}

#qna-questions::-webkit-scrollbar {
  width:8px;
}

#qna-questions::-webkit-scrollbar-thumb {
  background-color:#d2dad9;
}

#qna-questions::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}