#restaurants-search{
	width:calc(60% + 225px);
    height:100%;
    float:left;
}

.restaurants-placeholder{
 	height:100%;
    width:100%;
    float:left;
	border-right:1px solid grey;

}

.restaurants-placeholder input[type="text"] {
	width:calc(100% - 48px);
    float:left;
    height:100%;
    background-color:inherit;
    font-size:0.8em;
    color:inherit;
}