#restaurants-search{
	width:calc(60% + 225px);
    height:100%;
    float:left;
}

#restaurants-search input[type="text"] {
	width:calc(100% - 48px);
    float:left;
    height:100%;
    background-color:inherit;
    font-size:0.85em;
    color: #EC7065;
    font-family: "Lato", "Helvetica", Helvetica, sans-serif;
}
