* {
	box-sizing:border-box;
	padding:0;
	margin:0;
}

@font-face {
	font-family:page_font;
	/*src:url("../resources/Archivo-Regular.ttf");*/
}

html,body {
	font-size:100%;
	margin:0;
	font-family:page_font;
	height:100%;
	width:100%;
}

input {
    border: none;
    outline:none;
}

.hidden {
	display:none;
}

.shown {
	display:block;
}

header {
	height:50px;
	width:100%;
	background-color:#FEF9E7;
	position:fixed;
	z-index:1;
}

#name {
	height:50px;
	line-height:50px;
	vertical-align:middle;
	text-align:center;
	width:calc(100% - 90px);
	float:left;
	color: #515A5A;
	font-size:1.2em;
	font-weight:600;
	padding-left: 10px;
	width:80px;
	text-align:left;
	margin-left:5px;
	font-family: "Lato", "Helvetica", Helvetica, sans-serif;
}

#logo {
	float:left;
	background: url('/logo1.png');
	width:40px;
	height:40px;
	margin:5px 0 0 5%;
}

.hamburger {
	float:right;
	background: url('/header_sprites.png') no-repeat 0 -5px;
	width:40px;
	height:30px;
	margin:10px 5px 0 0;
}

#authentication-container {
	float:right;
	height:100%;
	width:7%;
	/*border:2px solid green;*/
	margin-right:100px;
}

#authentication-content {
	height:100%;
	width:100%;
	/*border: 1px solid red;*/
}

#user-icon {
	background:url('/user_icon.png') no-repeat 0 0; 
	float:left;
	width:30px;
	height:30px;
	margin-top:10px;
	margin-left:8px;
}
#username{
	line-height:50px;
	font-size:1.2em;
	color: #515A5A;
	/*padding:0 10px;*/
	float: left;
	font-family: "Lato", "Helvetica", Helvetica, sans-serif;
}
#authentication-dropdown {
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	width:300%;
	margin-left:-200%;
	height:300px;
	z-index:1;	
	border:1px solid blue;
	display: none;
}

.authentication-dropdown-element {
	/* height:30px;
	width:90%; */
	height:100%;
	width:100%;

}

#authentication-dropdown button {
	height:30px;
	width:90%;
	margin-left:5%;
	margin-top:5%;
	border:none;
	outline:none;
}

#facebook-sign-in {
	background-color:#3b5998;
	color:#f7f7f7;
	font-family:Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
	font-size:0.8em;
	font-weight:600;
}

#facebook-sign-in i {
	background:url('/logo-sprites.png') no-repeat 0 -1px;
	float:left;
	width:16px;
	height:16px;
	margin:7px 10px 0 7px;
}

#facebook-sign-in span {
	display: inline-block;
	line-height:14px;
	margin-top:8px;
}

#google-sign-in {
	background-color:white;
	color: rgba(0,0,0,0.54);
	font-family:Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
	font-size:0.8em;
	font-weight:600;
	border:1px solid grey;
}

#google-sign-in i {
	background:url('/logo-sprites.png') no-repeat 0 -18px;
	float:left;
	width:18px;
	height:18px;
	margin:7px 8px 0 7px;
}

#google-sign-in span {
	display: inline-block;
	line-height:14px;
	margin-top:8px;
}

#authentication-dropdown-sign-in {
	
}

#already-member {
	margin-top:20px;
	width:90%;
	margin-left:5%;
	text-align:center;
	vertical-align:middle;
	color: rgba(0,0,0,0.70);
}

#authentication-dropdown-sign-in form {
	margin-top:10px;
	width:100%;
	height:110px;
	/* margin-left:5%; */
}
#authentication-dropdown-sign-in form input {
	border:1px solid rgba(0,0,0,0.70);;
	width:95%;
	margin-left:2.5%;
	height:30px;
	margin-bottom:10px;
	padding-left:5px;
}

#authentication-dropdown-sign-in form input[type="submit"] {
	background-color:#EC7065;
	color:white;
	font-size:1.1em;
	font-family:page_font;	
	width:95%;
	margin-left:2.5%;
	height:30px;
	margin-bottom:10px;
}

#authentication-dropdown-sign-in form input::placeholder {
}

/*******************  NAVIGATION MENU *************************/
#header-nav-menu {
	height:50px;
	max-width:80%;
	float:left;
	margin-left:3%;
}

#header-nav-menu li {
	display:inline-block;
	line-height:50px;
	vertical-align:middle;
	font-size:1.2em;
	color: #515A5A;
	padding:0 10px;
	font-family: "Lato", "Helvetica", Helvetica, sans-serif;
}

#header-nav-menu li:hover {
	background-color:#FCF3CF;
}

/**************************************************************/

#side-menu {
	width:80%;
	height:100%;
	top:50px;	
	right:0;
	position:absolute;
	transition: .3s ease all;
	background-color:#3498DB;
}

#other ul {
	margin:0;
	padding:0;
	list-style:none;
}

#other ul li {
	height:50px;
	font-size:1.25em;
	padding-top:15px;
	padding-left:2%;
	text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color:#ECF0F1;
}

#other ul li:hover {
    background-color:#2E86C1;
	cursor:pointer;
}

.sign_in {
	width:100%;
	background-color:#21618C;
	float:left;
}

.user_icon {
	background:url('../resources/user_icon.png') no-repeat 0 0;
	width:30px;
	height:30px;
	display:block;
	float:left;
	margin:2% 0 0 2%;
}

#welcome_message {
	float:left;
	width:calc(98% - 30px);
	height:30px;
	margin-top:2%;
	padding-top: calc(15px - 0.5em);
	padding-left:1%;
	color:#F7F9F9;
	text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#welcome_message a {
	text-decoration:none;
	color:inherit;
}

.sign_in ul {
	width:96%;
	float:left;
	margin:2%;
}

.sign_in ul li {
	display:inline-block;
	height:45px;
	width:32%;
	float:left;
	margin-right:2%;
    text-align: center;
    vertical-align: middle;
    line-height:1em;
    padding-top:16px;
    font-weight:700;
    color:#F7F9F9;
    background-color:#2E86C1;
	text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sign_in ul li:last-child {
	margin:0;
}

.sign_in ul li:hover {
	background-color:#5DADE2;
	cursor:pointer;
}

section {
	width:100%;
	height:100%;
	background-color:#FEF9E7;
}

.separator {
	width:94%;
	margin-left:3%;
	border-top:1px solid #C8C8C8;
}


/************************* APP ****************************/
#app {
	width:100%;
	min-height:100%;
}

/**********************************************************/

/***************    cover section styles    ***************/

#cover {
	/* height: 60vh; */
	min-height:400px;
	background-position:center;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	/* text-align:center; */
	/*background-position:center center;*/
	background-attachment:fixed;
	background-size:cover 100%;

}
.rentals-background{
	background: url('/beach-house.jpg') no-repeat;
	
}
.hotels-background{
	background: url('/crop_sunset') no-repeat;
}

/***** search bar *****/

#search_bar {
	width:90%;
	height:50px;
	background-color:#FFFDE7;
	color: #515A5A ;
	font-size:1.2em;
	display:block;
	cursor:pointer;
	border-radius: 25px;
}

.location {
	float:left;
	height:100%;
	width:48px;
	background:inherit;
	border:none;
	padding:0;
	outline:inherit;
	cursor:inherit;
	border-top-left-radius: 20%;
}

.location i {
	background:url('/search_icons.png') no-repeat -99px -4px;
	width:22px;
	height:32px;
	float:left;
	margin-left:13px;
}

#search-input {
	width:calc(100% - 48px);
	height:100%;
	border:none;
	outline:none;
	background-color:inherit;
	color:#5DADE2;
}

#search_bar ::placeholder {
	font-size:1.2em;
	color:#EC7065;	
	font-family:page_font;
}
.submit-search {
    height:100%;
    width:calc(40% - 225px);
    float:left;
    background-color:#EC7065;
	text-align:center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.submit-search-input {
    border:0;
    background:inherit;
    color:white;
    line-height:30px;
    margin-top:10px;
    font-size:1em;
    font-family: "Lato", "Helvetica", Helvetica, sans-serif;
}

/***************    break points     ***************/


/* @media screen and (max-width:1220px) {
	#submit_search {
		display:none;
	}

	#other_container {
		border-right:none;
	}
} */

/* @media screen and (max-width:1090px) {
	#other_container {
		display:none;
	}
	#calendar-container div{
		border-right:none;
	}
	#calendar-container {
		width:60%;
	}
} */
/* 
@media screen and (max-width:200px) {
	#logo,.hamburger,#side-menu {
		display:none;
	}
	#name {
		width:100%;
	}
} */

@media screen and (min-width:600px) {

	.hamburger,#side-menu {
		display:none;
	}

}

@media screen and (max-width:800px) {
	#header-nav-menu {
		display:none; /* temp */
	}
}

/************************** FOOTER ***************************/
footer {
	width:100%;
	height:150px;
	text-align:center;
	padding-top:15px;
	background:#f6f6f6;
}

#socials {
	padding:0;
	list-style:none;
	width:320px;
	height:50%;
	margin-left:calc(50% - 160px);
}

#socials li {
	width:50px;
	height:100%;
	float:left;
	margin-left:15px;
	margin-right:15px;
}

#socials li a {
	width:100%;
	height:100%;
}

#socials li i {
	width:48px;
	height:48px;
	float:left;
	display:block;
	border-radius:25px;
}

.socials-facebook-icon {
	background: url('/socials-icons.png') no-repeat 0px 0px;
}

.socials-twitter-icon {
	background: url('/socials-icons.png') no-repeat -58px 0;
}

.socials-gmail-icon {
	background: url('/socials-icons.png') no-repeat -116px 0;
}

.socials-youtube-icon {
	background: url('/socials-icons.png') no-repeat -174px 0;
}

#copyright {
	width:100%;
	height:50%;
	font-size:1.1em;	
	padding-top:20px;
	background:#e6e6e6;
	color:#515A5A;
}