* {
	box-sizing:border-box;
	padding:0;
	margin:0;
}

@font-face {
	font-family:page_font;
	/*src:url("../resources/Archivo-Regular.ttf");*/
}

html,body {
	font-size:100%;
	margin:0;
	font-family:page_font;
	height:100%;
	width:100%;
}

.hidden {
	display:none;
}

.shown {
	display:block;
}

header {
	height:50px;
	width:100%;
	background-color:#F9E79F;
	position:fixed;
	z-index:1;
}

#name {
	height:50px;
	line-height:50px;
	vertical-align:middle;
	text-align:center;
	width:calc(100% - 90px);
	float:left;
	color: #EC7063;
	font-size:1.2em;
	font-weight:600;
	padding-left: 10px;
}

#logo {
	float:left;
	background: url('/logo1.png');
	width:40px;
	height:40px;
	margin:5px 0 0 80px;
}

.hamburger {
	float:right;
	background: url('/header_sprites.png') no-repeat 0 -5px;
	width:40px;
	height:30px;
	margin:10px 5px 0 0;
}

/*******************  NAVIGATION MENU *************************/
#header-nav-menu {
	height:50px;
	max-width:80%;
	float:left;
	margin-left:3%;
}

#header-nav-menu li {
	display:inline-block;
	line-height:50px;
	vertical-align:middle;
	font-size:1.2em;
	color: #EC7063;
	padding:0 10px;
}

#header-nav-menu li:hover {
	background-color:#FCF3CF;
}

/**************************************************************/

#side-menu {
	width:80%;
	height:100%;
	top:50px;	
	right:0;
	position:absolute;
	transition: .3s ease all;
	background-color:#3498DB;
}

#other ul {
	margin:0;
	padding:0;
	list-style:none;
}

#other ul li {
	height:50px;
	font-size:1.25em;
	padding-top:15px;
	padding-left:2%;
	text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color:#ECF0F1;
}

#other ul li:hover {
    background-color:#2E86C1;
	cursor:pointer;
}

.sign_in {
	width:100%;
	background-color:#21618C;
	float:left;
}

.user_icon {
	/*background:url('../resources/user_icon.png') no-repeat 0 0;*/
	width:30px;
	height:30px;
	display:block;
	float:left;
	margin:2% 0 0 2%;
}

#welcome_message {
	float:left;
	width:calc(98% - 30px);
	height:30px;
	margin-top:2%;
	padding-top: calc(15px - 0.5em);
	padding-left:1%;
	color:#F7F9F9;
	text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#welcome_message a {
	text-decoration:none;
	color:inherit;
}

.sign_in ul {
	width:96%;
	float:left;
	margin:2%;
}

.sign_in ul li {
	display:inline-block;
	height:45px;
	width:32%;
	float:left;
	margin-right:2%;
    text-align: center;
    vertical-align: middle;
    line-height:1em;
    padding-top:16px;
    font-weight:700;
    color:#F7F9F9;
    background-color:#2E86C1;
	text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sign_in ul li:last-child {
	margin:0;
}

.sign_in ul li:hover {
	background-color:#5DADE2;
	cursor:pointer;
}

section {
	width:100%;
	height:100%;
	background-color:#FEF9E7;
}

.separator {
	width:94%;
	margin-left:3%;
	border-top:1px solid #C8C8C8;
}


/************************* APP ****************************/
#app {
	width:100%;
	min-height:100%;
}


/**********************************************************/

/***************    cover section styles    ***************/

#cover {
	/*margin: 1px solid red;*/
	height: 60vh;
	background-position:center;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
	background: url('/crop_sunset') no-repeat;
	/*background-position:center center;*/
	background-attachment:fixed;
	background-size:100%;

}

/***** search bar *****/

#search_bar {
	/*border:1px solid #EC7063;*/
	width:90%;
	height:50px;
	background-color:#FFFDE7;
	color: #EC7063 ;
	font-size:1.2em;
	display:none;
	cursor:pointer;
}

#location {
	float:left;
	height:100%;
	width:48px;
	background:inherit;
	border:none;
	padding:0;
	outline:inherit;
	cursor:inherit;
	border-top-left-radius: 20%;
}

#location i {
	background:url('/search_icons.png') no-repeat -99px -4px;
	width:22px;
	height:32px;
	float:left;
	margin-left:13px;
}

#search_bar input {
	width:100%;
	height:100%;
	border:none;
	outline:none;
	background-color:inherit;
	color:#5DADE2;
}

#search_bar ::placeholder {
	font-size:1.2em;
	color:#5DADE2;	
}

/*******************/
#search-container {
	width:calc(100% - 653px);
	height:48px;
	float:left;
	display:inline-block;
	position:relative;
}

#search-dropdown {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top:7px;
    width:100%;
    z-index: 1;
}

#search-container h1 {
	font-size:1em;
	text-align:left;
	padding-left:2%;
	padding-top:1%;
	height:30px;
	margin-top:10px;
}

.search-recently-viewed {
	height:50px;
	text-align:left;
	padding-left:2%;
	padding-top:2%;
}
.search-recently-viewed:hover {
	background-color:#F2F3F4;
}
.search-recently-viewed div {
	font-size:0.8em;
}


/*******************/

#calendar-container {
	height:48px;
	width:230px;
	border-left:1px solid grey;
	border-right:1px solid grey;
	padding:0 5px;
	float:left;
}

#calendar_content i {
	background:url('/search_icons.png') no-repeat -50px -5px;
	width:30px;
	height:30px;
	float:left;
	margin-top:8px;
}

.calendar_date {
	display:inline-block;
	float:left;
	line-height:20px;
	margin:13px 0 0 5px;
	max-width:150px;
	max-height:20px;
	white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}

.calendar_space {
	width:14px;
	height:2px;
	float:left;
	border:1px solid #5DADE2;
	margin:22px 5px 0 5px;
}

/*******************/

#calendar-dropdown {
    background-color: #f9f9f9;
    margin-top:7px;
    margin-left:-25%;
    width:150%;
    z-index:1;
    border:1px solid blue;
}

#calendar-dropdown h1 {
	font-size:0.9em;
    text-align:center;
    padding:2% 0;
}


#calendar_content {
	height:48px;
}

/****** CALENDAR DROPDOWN CONTENT ********/ 

#calendar_dropdown_content {
	width:100%;
	height:250px;
}

#calendar_dropdown_content h2 {
	font-size:0.8em;
	font-weight:500;
	height:30px;
	line-height:20px;
	padding-top:5px;
}

#calendar_dropdown_content button {
	width:40px;
	height:calc(100% - 80px);
	background:none;
	color:inherit;
	border:none;
	padding:0;
	font:inherit;
	outline:inherit;
	padding-left:7.5px;
	float:left;
}

#left_arrow_icon i {
	background:url('/search_icons.png') no-repeat -518px 0;
	width:25px;
	height:25px;
	float:left;
}

#right_arrow_icon i {
	background:url('/search_icons.png') no-repeat -552px 0;
	width:25px;
	height:25px;
	float:left;
}

#calendar_days {
	height:calc(100% - 80px);
	width:calc(100% - 80px);
	float:left;
}

.week {
	width:100%;
	height:16.6%;
}

.four_rows_week {
	width:100%;
	height:20%;
}

.six_rows_week {
	width:100%;
	height:14.2%;
}

.day {
	height:100%;
	width:calc(100% / 7);
	float:left;
	padding-top:2%;
}

.current_day {
	background-color:#A3E4D7;
}

#calendar_legend {
	width:100%;
	height:50px;
	float:left;
}

.legend_elem {
	height:100%;
	width:50%;
	float:left;
	padding-left:3%;
}

.legend_elem div {
	width:20px;
	height:20px;
	float:left;
	margin-top:18px;
	margin-left:2%;
}

.legend_elem span {
	line-height:25px;
	display:block;
	float:left;
	margin-left:2%;
	margin-top:15px;
}

.legend_elem:first-child div {
	background-color:#EBDEF0;
}

.legend_elem:nth-child(2) div {
	background-color: #D2B4DE;
}

/*******************/

#other_container {
	height:48px;
	float:left;
	width:225px;
	position:relative;
}

.human_icon {
	background:url('/search_icons.png') no-repeat -5px 0;
	width:30px;
	height:40px;
	float:left;
	margin:5px 5px 0 10px;
}

#other_content {
	height:48px;
}

#other_content span {
	display:inline-block;
	float:left;
	line-height:20px;
	max-width:130px;
	max-height:20px;
	margin:13px 10px 0 5px;
	white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

.arrow_icon {
	background:url('/search_icons.png') no-repeat -137px -5px;
	width:16px;
	height:10px;
	float:left;
	margin:17px 10px 0 5px;
}

#submit_search {
	float:left;
	width:150px;
	height:48px;
	background-color:#5DADE2;
	color:#F0F3F4;
}

.search_button_text {
	line-height:20px;
	margin-top:13px;
}

/**********************/

#other-dropdown {
    position: absolute;
    background-color: #f9f9f9;
    margin-left:-20%;
    margin-top:7px;
    width:140%;
    z-index:1;
    border:1px solid blue;
}

.other-filter-dropdown-elem {
	height:40px;
	width:100%;
}

.other-filter-dropdown-elem span {
	display:block;
	height:100%;
	width:calc(100% - 80px);
	float:left;
	font-size:1em;
	line-height:20px;
	padding-top:10px;
}

.other-filter-dropdown-elem button {
	background:none;
	color:inherit;
	border:none;
	padding:0;
	font:inherit;
	outline:inherit;
	height:100%;
	width:30px;
	float:left;
	margin:0 5px;
}

.minus_icon i {
	background: url('/search_icons.png') no-repeat -258px 0;
	width:30px;
	height:30px;
	float:left;
}

.plus_icon i {
	background: url('/search_icons.png') no-repeat -298px 0;
	width:30px;
	height:30px;
	float:left;
}


/**********************/
#additionals-container {
	background-color:#FEF9E7;
	width:100%;
	height:30vh;
	border:1px solid red;
}
/***************    browse section styles    ***************/
#browse {
	min-height:100%;
	width:100%;
}

.browse_section:first-of-type {
	margin:0 3% 3% 3%;
}
.browse_section {
	width:94%;
	margin:3%;
	height:240px;
	background-color:#EAF2F8;
}

.browse_section ul {
	width:100%;
	height:70%;
}

.browse_section li {
	list-style:none;
	width:23%;
	height:100%;
	float:left;
	margin:0 1%;
}

.browse_header {
	width:100%;
	height:25%;
}

.browse_header h3 {
	display:inline-block;
	float:left;
	font-family:page_font;
	line-height:20px;
	margin-top:15px;
	margin-left:1%;
}

.browse_header button {
	background:none;
	border:none;
	padding:0;
	float:right;
	width:48px;
	height:48px;
	margin-right:1%;
}

.section_element {
	width:100%;
	height:100%;
	background-image: url('/berlin.jpg');
	background-size:100% 100%;
	opacity:0.7;
	color:white;
	position:relative;
	border-radius:1%;
}

.section_element span {
	position:absolute;
	bottom:0;
	right:0;
	margin-right:2%;
	font-size:1.3em;
}


/***************    break points     ***************/


@media screen and (max-width:1220px) {
	#submit_search {
		display:none;
	}

	#other_container {
		border-right:none;
	}
}

@media screen and (max-width:1090px) {
	#other_container {
		display:none;
	}
	#calendar-container div{
		border-right:none;
	}
	#calendar-container {
		width:60%;
	}
}

@media screen and (max-width:200px) {
	#logo,.hamburger,#side-menu {
		display:none;
	}
	#name {
		width:100%;
	}
}

@media screen and (min-width:600px) {
	#name {
		width:80px;
		text-align:left;
		margin-left:5px;
	}
	.hamburger,#side-menu {
		display:none;
	}

	#search_bar {
		display:block;
	}
}

/*************************************************/
