#thingstodo-search {
	width:calc(60% + 225px);
    height:100%;
    float:left;
}

#todo-search-dropdown {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width:100%;
    z-index: 1;
    margin-top:57px;
}