<script id="about-nav-bar-template" type="text/html">
    <section id="cover" class="hotels-background"></section>
    <section id="contact-container"></section>
    <section id="additionals-container"></section>
</script>

<script id="contact-us-template" type="text/html">
    <div>
        <h2>{{contact.heading}}</h2>
        <hr>
        <p>{{contact.content}}</p>
    </div>
    <form>
        <input type="text" placeholder="{{contact.form.0}}">
        <input type="text" placeholder="{{contact.form.1}}">
        <textarea placeholder="{{contact.form.2}}"></textarea>
        <div>
            <button type="submit">{{contact.form.3}}</button>
        </div>
    </form>
</script>