<script id="flights-search-bar-template" type="text/html">
	<form id="search-bar">
		<div id="flight-search">

		</div>

		<div id="calendar-container">
			<input class="date" type="date"></input>
			<input class="date" type="date"></input>
		</div>
		<div id="other-container">
			<div id="other-content" class="flight-other-content">
				<span>{{flights.search.details}}</span>
			</div>
			<div id="other-dropdown" class="dropdown hidden"></div>
		</div>
	    <input id="submit-search" type="submit" value="{{find}}">
	</form>
</script>

<script id="flights-destination-template" type="text/html">
	<div class="flight-destination">
		<button class="location"><i></i></button>
		<input type="text" placeholder="{{destination}}"></input>
		<div class="dropdown hidden flights-search-dropdown">
			<h1>Recently Viewed</h1>

			<div class="dropdown-elements-container">

			</div>
		</div>
	</div>
</script>


<script id="select-menu-template" type="text/html">
	<div id="mainselection">
	<select>
		<option class="option" value="0">Economy</option>
		<option class="option" value="1">Premium Economy</option>
		<option class="option" value="2">Business Class</option>
		<option class="option" value="3">First Class</option>
	</select>
	</div>
</script>
