<!-- HEADER -->
<script id="home-header" type="text/html">
	<i id="logo"><a href="#hotels"></a></i>
	<div id="name">Traveler</div>
	<ul id="header-nav-menu">
		<a href="#hotels"><li>{{navigation info.0}}</li></a>
		<a href="#rentals"><li>{{navigation info.1}}</li></a>
		<a href="#flights"><li>{{navigation info.2}}</li></a>
		<a href="#restaurants"><li>{{navigation info.3}}</li></a>
		<a href="#things-to-do"><li>{{navigation info.4}}</li></a>
	</ul>
	<i class="notes-icon"></i>
	<i class="hamburger"></i>
</script>

<script id="header-authentication" type="text/html">
	<div id="authentication-container">
		<div id="authentication-content">
			<a href="#" id="username"></a>
			<img id="user-icon" src="/user_icon.png"></img>
		</div>
		<div id="authentication-dropdown">
		</div>
	</div>
</script>

<script id="authentification-dropdown-element" type="text/html">
	<button>
		<div class="authentication-dropdown-element" id="facebook-sign-in">
			<i></i>
			<span>FACEBOOK</span>
		</div>	
	</button>

	<button>
		<div class="authentication-dropdown-element" id="google-sign-in">
				<i></i>
				<span>GOOGLE</span>
		</div>
	</button>

	<div id="authentication-dropdown-sign-in">
		<div id="already-member">
			Already a member?
		</div>
		<form id="login" method="post">
			<input type="text" name="email" placeholder="Email">
			<input type="password" name="password">
			<input type="submit" value="Sign In">
		</form>
	</div>
</script>

<!-- USER DROPDOWN PAGE -->
<script id="user-settings" type="text/html">
	<section id="user-pages">
		<ul>
			<li>
				<a href="">{{username}}</a>
			</li>
			<li>
				<i id="bookings-icon"></i>
				<a href="#bookings">My Bookings</a>
			</li>
			<li>
				<i id="favourites-icon"></i>
				<a href="#favourites">Favourites</a>
			</li>
			<li>
				<i id="settings-icon"></i>
				<a href="#settings">Settings</a>
			</li>
			<li>
				<i id="weak-deals-icon"></i>
				<a href="#Week_Deals">Week Deals</a>
			</li>
		</ul>
		<button id="logout">Log out</button>
	</section>
</script>

<script id="notes-section-template" type="text/html">

	<div class="notes-section-container">
		<h3>
			{{heading}}
		</h3>

		<ul>

		</ul>
	</div>

</script>

<script id="note-container-template" type="text/html">
	<li>
		<div class="note-container">
			<input type="checkbox" />
			<div class="note-content" data-toggle="dropdown">
				<span>{{name}}</span>
			</div>
			<div class="note-dropdown">
				<span>{{place}}</span>
				<span>{{reviews}}</span>
				<span><a href="{{url}}">See More...</a></span>
			</div>
		</div>
	</li>
</script>