<!-- OVERALL NAVIGATION PAGES TEMPLATES -->
<script id="navigation-page" type="text/html">
	<section id="cover" class="hotels-background"></section>
	<section id="additionals-container"></section>
	<section id="browse">
		<div class="filler">

		</div>
	</section>
</script>

<!-- ADDITIONALS SECTION -->
<script id="additionals-template" type="text/html">

    <div id="services-heading">
        <h2>Our Services</h2>
    </div>
	
	<div id="services-container">

	</div>
</script>

<script id="service-template">
	<div class="service-container">
		<i></i>
		<h4>{{heading}}</h4>
		<p>{{content}}</p>
	</div>
</script>

<!-- BROWSE SECTION -->
<script id="browse-template" type="text/html">
	<div class="browse-section">
		<div class="browse-header">
			<h3>{{header}}</h3>
			<a href="#">
				<button>See All</button>
			</a>	
		</div>
		<ul>
			<li>
				<div class="section-element">
					<img src="{{overviews.0.url}}">
					<div class="section-element-description">
						<span>{{overviews.0.name}}</span>
						<span>{{overviews.0.reviews}}</span>
						<span>{{overviews.0.place}}</span>
					</div>
				</div>
			</li>
			<li>
				<div class="section-element">
					<img src="{{overviews.1.url}}">
					<div class="section-element-description">
						<span>{{overviews.1.name}}</span>
						<span>{{overviews.1.reviews}}</span>
						<span>{{overviews.1.place}}</span>
					</div>
				</div>
			</li>
			<li>
				<div class="section-element">
					<img src="{{overviews.2.url}}">
					<div class="section-element-description">
						<span>{{overviews.2.name}}</span>
						<span>{{overviews.2.reviews}}</span>
						<span>{{overviews.2.place}}</span>
					</div>
				</div>
			</li>
			<li>
				<div class="section-element">
					<img src="{{overviews.3.url}}">
					<div class="section-element-description">
						<span>{{overviews.3.name}}</span>
						<span>{{overviews.3.reviews}}</span>
						<span>{{overviews.3.place}}</span>
					</div>
				</div>
			</li>
		</ul>
	</div>
</script>

<!-- FOOTER -->
<script id="home-footer" type="text/html">

	<ul id="socials">
		<li>
			<a href="">
				<i class="socials-facebook-icon"></i>
			</a>
		</li>
		<li>
			<a href="">
				<i class="socials-twitter-icon"></i>
			</a>
		</li>
		<li>
			<a href="">
				<i class="socials-gmail-icon"></i>
			</a>
		</li>
		<li>
			<a href="">
				<i class="socials-youtube-icon"></i>
			</a>
		</li>
	</ul>

	<div id="copyright">{{copyright}}</div>
</script>