<script id="rentals-search-bar-template" type="text/html">
	<form id="search-bar">
		<div id="rentals-search">
			<button class="location"><i></i></button>
			<input id="search-input" type="text" placeholder="{{rentals.search.destinations}}" autocomplete="off"></input>
			<div id="rentals-search-dropdown" class="dropdown hidden">
				<h1>Recently Viewed</h1>

				<div id="dropdown-elements-container">

				</div>
			</div>

		</div>

		<div id="calendar-container">
			<input class="date" type="date"></input>
			<input class="date" type="date"></input>
		</div>
		<input id="submit-search" type="submit" value="{{find}}">
	</form>
</script>


