<script id="rentals-search-bar-template" type="text/html">
	<div id="search_bar">
		<div id="rentals-search">
			<div class="rentals-destination">
					<button class="location"><i></i></button>
					<input type="text" placeholder="{{rentals.search.destinations}}"></input>
				</div>
		</div>

		<div class="calendar-container">
			<input class="date" type="date"></input>
			<input class="date" type="date"></input>
		</div>
		<div class="submit-search">
			<input class="submit-search-input" type="submit" value="{{rentals.search.submit}}"></input>
		</div>
	</div>
</script>